.checkout-form-body {
  display: flex;
  flex-direction: column;

  .checkout-total {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    h1 {
      font-size: large;
      font-weight: 700;
    }
    span {
      margin: 0 10px;
      font-size: large;
      font-weight: 700;
    }
  }
}
