.checkout-form-body {
  display: flex;
  flex-direction: column;

  .checkout-total {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    h1 {
      font-size: large;
      font-weight: 700;
    }
    span {
      margin: 0 10px;
      font-size: large;
      font-weight: 700;
    }
    .checkout-total-header {
      text-align: center;
      .total {
        display: flex;
        justify-content: center;
      }
      .notes {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        color: red;
      }
    }
  }
}

.success-message {
  margin: 5rem;
  height: 20rem;

  .success-message-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 2rem;
      margin: 1rem 0;
    }
    p {
      overflow: hidden;
    }
    border-bottom: 1px solid black;
  }

  .success-message-bottom {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.error-message {
  margin: 5rem;
  height: 20rem;

  .error-message-top {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 2rem;
      margin: 1rem 0;
    }
    p {
      overflow: hidden;
    }
    border-bottom: 1px solid black;
  }

  .error-message-bottom {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
