.checkout-form {
  padding: 3rem;

  .name-row {
    margin-top: -3.5rem;
    display: flex;
    justify-content: flex-start;
    max-height: 6rem;
  }
  .name-row * {
    padding-right: 30px;
    width: 100%;
    font-weight: 500;
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
  }
  .city-state-zip-row {
    margin-top: -3.5rem;
    display: flex;
    justify-content: flex-start;
    max-height: 6rem;
  }
  .city-state-zip-row * {
    padding-right: 30px;
    width: 100%;
  }
}
.checkout-button {
  margin: 2rem auto;
}
