.shop-page {
}

.shop-page-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "area-1- AREA2 AREA2 AREA2 AREA2"
    "area-1- AREA2 AREA2 AREA2 AREA2"
    "area-1- AREA2 AREA2 AREA2 AREA2";
}
.collection-filter {
  grid-area: area-1-;
  border: solid;
}
.collection-main {
  grid-area: AREA2;
  border: solid;
}
