* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  width: 100vw;
  &__tab {
    display: flex;
    justify-content: flex-start;

    a {
      padding: 1rem;
      font-weight: 700;
    }
    a:focus {
      background-color: black;
      color: white;
    }
  }
  &__main {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: black;

    &__menu {
      padding: 1rem;
      display: flex;
      transition: 1s ease-out;
      font-size: 2rem;
      align-items: center;
      height: 100%;
    }
    &__logo {
      font-size: 1.9rem;
      width: 110%;
      border: 1px solid white;

      .logo {
        color: #fff;
        background: red;
        padding: 7px 7px;
        text-decoration: none;
        margin: auto;
        text-align: center;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-style: italic;
      }
    }
    &__menu:hover {
      background-color: grey;
      height: 100%;
    }
    &__left {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &__right {
      display: flex;
      color: white;
      height: 100%;
      justify-items: center;
      align-items: center;
    }

    &__icon {
      padding: 1rem;
      display: flex;
      font-size: 2rem;
      align-items: center;
      transition: 1s ease-out;
    }

    &__icon:hover {
      background-color: grey;
    }
  }
  .search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
      font-family: inherit;
      font-size: inherit;
      background-color: #d3d3d3;
      border: none;
      color: inherit;
      padding: 0.7rem 2rem;
      border-radius: 100px;
      width: 30rem;
      transition: all 0.2s;
      margin-right: -3.5rem;

      &:focus {
        outline: none;
        width: 32rem;
        background-color: white;
        color: black;
      }

      &::-webkit-input-placeholder {
        font-weight: 100;
        color: black;
      }
    }
    &__input:focus + &__button {
      background-color: black;
    }

    &__icon {
      height: 3rem;
      width: 3rem;
      fill: var(--color-primary);
    }
    &__button {
      border: none;
      background-color: var(--color-grey-light-2);
      &:focus {
        outline: none;
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}
